# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# IDE / Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/
out/

# Cache / temporary files
.cache/
.tern-port

# VS Code workspace settings
*.code-workspace
